 .container {
    text-align: center;
    border-style: solid;
    border-color: lightgray;
    margin: 100 100
 }
ul {
    margin: 30 30
}

h3 {
    margin: 30 30
}

 li {
    list-style-type: none;
    margin: 5 5
 }

a {
    margin: 20 20
 }